/* For Tablets */
@media all and (max-width: 1000px) {
  .navbar-nav {
    margin-right: 1;
    margin-left: 1;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .message-wrapper img {
    width: 40%;
  }

  .profile {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {

  * {
    text-align: center;
  }


  .btn-toggle {
    display: flex;
  }




  .header-right {
    position: absolute;
    flex-direction: column;
    right: 10px;
    top: 65px;
    width: 100vw;
    height: 0;
    opacity: 0;
    justify-content: space-evenly;
    background-color: rgba(34, 49, 52, 0.9);
    z-index: -1;
  }

  .heading a {
    align-items: center;
  }


  .menu-icon {
    display: block;
  }

  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .message-wrapper img {
    width: 50%;
  }

  .profile {
    width: 100%;
    margin-top: 10px;
  }

  .text-contents-eks1 {
    width: 80%;
    display: inline-block;
    margin-top: 0px;
    font-size: 15px;
    color: #aaa8ac;
  }
}
